<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”with-device.wid th, initial-scale= 1”>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel='stylesheet'>
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <section class="header-superior">
            <a class="img-logo" href="/"><img src="/images/logo-mercado-liebre.svg"></a>
            <form class="form-barra-busqueda" method="" action="">
                <input class="input-search" type="search" placeholder="Buscar productos, marcas">
                <button class="button-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <h2 class="subtitulo-header"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</h2>
        </section>
        <section class="header-inferior">
            <nav class="barra-nav-paginas">
                <a href="">Ofertas</a>
                <a href="">Tiendas Oficiales</a>
                <a href="">Vender</a>
                <a href="">Ayuda</a>
            </nav>
            <nav class="barra-nav-login">
                <a href="/register">Crea tu cuenta <i class="fa-regular fa-id-card"></i></a>
                <a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a>
                <a href="">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a>
            </nav>
        </section>
        <a class="icono-menu" href=""><i class="fa-solid fa-bars"></i></a>   
    </header>
    <img class="img-banner" src="/images/img-home-banner.jpg">
    <main>
        <h2 class="titulares">Basado en tu última visita</h2>
        <section>
            <article class="articulos-main">
                <img src="/images/img-cafetera-moulinex.jpg">
                <div class="div-articulo">
                    <i class="fa-solid fa-truck"></i>
                    <div class="div-informacion-producto">
                        <p class = "precios">$6.770</p>
                        <p class = "descuentos">40% OFF</p>  
                    </div> 
                    <p class = "descripciones">Cafetera Moulinex</p>
                </div>
            </article>
            <article class="articulos-main">
                <img src="/images/img-macbook-pro-2019.jpg">
                <div class="div-articulo">
                    <i class="fa-solid fa-truck"></i>
                    <div class="div-informacion-producto">
                        <p class = "precios">$230.000</p>
                        <p class = "descuentos">20% OFF</p> 
                    </div> 
                    <p class = "descripciones">MacBook Pro 2019</p> 
                </div>
            </article>
            <article class="articulos-main">
                <img src="/images/img-samsung-galaxy-s10.jpg">
                <div class="div-articulo">
                    <i class="fa-solid fa-truck"></i>
                    <div class="div-informacion-producto">
                        <p class = "precios">$70.500</p>
                        <p class = "descuentos">10% OFF</p> 
                    </div> 
                    <p class = "descripciones">Samsung Galaxy S10</p> 
                </div>
            </article>
            <article class="articulos-main">
                <img src="/images/img-tv-samsung-smart.jpg">
                <div class="div-articulo">
                    <i class="fa-solid fa-truck"></i>
                    <div class="div-informacion-producto">
                        <p class = "precios">$23.200</p>
                        <p class = "descuentos">5% OFF</p> 
                    </div> 
                    <p class = "descripciones">SmartTv Samsung 43"</p> 
                </div>
            </article>
        </section>
        <h2 class="titulares">Ofertas</h2>
        <section>
            <article class="articulos-main">
                <img src="/images/img-cafetera-moulinex.jpg">
                <div class="div-articulo">
                    <i class="fa-solid fa-truck"></i>
                    <div class="div-informacion-producto">
                        <p class = "precios">$6.770</p>
                        <p class = "descuentos">40% OFF</p> 
                    </div> 
                    <p class = "descripciones">Cafetera Moulinex</p> 
                </div>
            </article>
            <article class="articulos-main">
                <img src="/images/img-macbook-pro-2019.jpg">
                <div class="div-articulo">
                    <i class="fa-solid fa-truck"></i>
                    <div class="div-informacion-producto">
                        <p class = "precios">$230.000</p>
                        <p class = "descuentos">20% OFF</p> 
                    </div> 
                    <p class = "descripciones">MacBook Pro 2019</p> 
                </div>
            </article>
            <article class="articulos-main">
                <img src="/images/img-samsung-galaxy-s10.jpg">
                <div class="div-articulo">
                    <i class="fa-solid fa-truck"></i>
                    <div class="div-informacion-producto">
                        <p class = "precios">$70.500</p>
                        <p class = "descuentos">10% OFF</p> 
                    </div> 
                    <p class = "descripciones">Samsung Galaxy S10</p> 
                </div>
            </article>
            <article class="articulos-main">
                <img src="/images/img-tv-samsung-smart.jpg">
                <div class="div-articulo">
                    <i class="fa-solid fa-truck"></i>
                    <div class="div-informacion-producto">
                        <p class = "precios">$23.200</p>
                        <p class = "descuentos">5% OFF</p> 
                    </div> 
                    <p class = "descripciones">SmartTv Samsung 43"</p> 
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section class="seccion-ppal-footer">
            <article>
                <i class="fa-solid fa-credit-card"></i>
                <h2 class="subtitulo-footer">Pagá con tarjeta o en efectivo</h2>
                <p class="texto-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <i class="fa-solid fa-gift"></i>
                <h2 class="subtitulo-footer">Envío gratis desde $ 2.500</h2>
                <p class="texto-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <i class="fa-solid fa-user-shield"></i>
                <h2 class="subtitulo-footer">Seguridad, de principio a fin</h2>
                <p class="texto-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
        </section>
        <section class="seccion-sec-footer">
            <article>
                <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </section>
    </footer>
</body>
</html>