<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”with-device.wid th, initial-scale= 1”>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="/css/styles/normaiize.css" rel="stylesheet">
    <link href="/css/styles.css" rel='stylesheet'>
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <section class="header-superior">
            <a class="img-logo" href="/"><img src="/images/logo-mercado-liebre.svg"></a>
            <form class="form-barra-busqueda" method="" action="">
                <input class="input-search" type="search" placeholder="Buscar productos, marcas">
                <button class="button-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <h2 class="subtitulo-header"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</h2>
        </section>
        <section class="header-inferior">
            <nav class="barra-nav-paginas">
                <a href="">Ofertas</a>
                <a href="">Tiendas Oficiales</a>
                <a href="">Vender</a>
                <a href="">Ayuda</a>
            </nav>
            <nav class="barra-nav-login">
                <a href="/register">Crea tu cuenta <i class="fa-regular fa-id-card"></i></a>
                <a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a>
                <a href="">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a>
            </nav>
        </section>
        <a class="icono-menu" href=""><i class="fa-solid fa-bars"></i></a>   
    </header>
    <main class="cuerpo-register">
        <h2>Crea tu cuenta</h2>
        <form class="formulario-register" action="" method="post">
            <input type="text" id="nombre" placeholder="Nombre y Apellido" name="nombre_usuario">
            <input type="text" id="user" placeholder="Nombre de usuario" name="user_usuario">
            <input type="email" id="email" placeholder="E-mail" name="email_usuario">
            <fieldset>
                <legend>Fecha de nacimiento</legend>
                    <input type="date" id="fecha-nac" name="fecha-nac_usuario">
            </fieldset>
            <input type="text" id="domicilio" placeholder="Domicilio" name="domicilio_usuario">
            <fieldset class="fieldset-register">
                <legend>Perfil del usuario</legend>
                    <div>
                        <input type="radio" id="comprador" name="perfil_usuario" value="comprador" checked>
                        <label for="comprador">Comprador</label>
                    </div>
                    <div>
                        <input type="radio" id="vendedor" name="perfil_usuario" value="vendedor">
                        <label for="vendedor">Vendedor</label>
                    </div>
            </fieldset>
            <fieldset class="fieldset-register">
                <legend>Intereses</legend>
                    <div>
                        <input type="checkbox" id="electro" name="intereses_usuario" value="electro">
                        <label for="electro">Electro</label>
                    </div>
                    <div>
                        <input type="checkbox" id="moda" name="intereses_usuario" value="moda">
                        <label for="moda">Moda</label>
                    </div>
                    <div>
                        <input type="checkbox" id="hogar" name="intereses_usuario" value="hogar">
                        <label for="hogar">Hogar</label>
                    </div>
                    <div>
                        <input type="checkbox" id="jugueteria" name="intereses_usuario" value="jugueteria">
                        <label for="jugueteria">Jugueteria</label>
                    </div>
                    <div>
                        <input type="checkbox" id="vida-sana" name="intereses_usuario" value="vida-sana">
                        <label for="vida-sana">Vida Sana</label>
                    </div>
            </fieldset>
            <fieldset>
                <legend>Foto</legend>
                <input type="file" id="foto" accept="image/*">
            </fieldset>
            <input type="password" id="pass" placeholder="Contraseña"name="contraseña_usuario">
            <input type="password" id="repeat-pass" placeholder="Repetir Contraseña"name="repetircontraseña_usuario">
            <button type="submit">Enviar</button>
            <button type="reset">Borrar Datos</button>
        </form>
    </main>

    <footer>
        <section class="seccion-ppal-footer">
            <article>
                <i class="fa-solid fa-credit-card"></i>
                <h2 class="subtitulo-footer">Pagá con tarjeta o en efectivo</h2>
                <p class="texto-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <i class="fa-solid fa-gift"></i>
                <h2 class="subtitulo-footer">Envío gratis desde $ 2.500</h2>
                <p class="texto-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <i class="fa-solid fa-user-shield"></i>
                <h2 class="subtitulo-footer">Seguridad, de principio a fin</h2>
                <p class="texto-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
        </section>
        <section class="seccion-sec-footer">
            <article>
                <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </section>
    </footer>
</body>
</html>